.form-controls {
  text-align: start;
  padding: 2vh 3vw;
  display: flex;
  flex-direction: column;
}

.form-control {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.label {
  flex: 1;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 1vh;
}

.input {
  flex: 1;
  height: 30px;
  margin-bottom: 2vh;
  border: 1px solid gray;
  padding: 10px;
  font-size: 1em;
  font-weight: 600;
}
